{namespace spgallery=Tx_SpGallery_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  <f:flashMessages />
  <f:if condition="{galleries}">
    <f:then>
      <ul class="galleries">
        <f:for each="{galleries}" as="gallery">
          <li><f:link.action controller="Gallery" action="show" arguments="{gallery : gallery}">{gallery.name}</f:link.action></li>
        </f:for>
      </ul>
    </f:then>
    <f:else>
      <p><f:translate key="no_galleries_found"/></p>
    </f:else>
  </f:if>
</f:section>