{namespace spgallery=Speedprogs\SpGallery\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
<f:debug>{galleries}</f:debug>
	<spgallery:flashMessages renderMode="ul" class="flash-messages" />
	<div class="form-errors">
		<f:render partial="FormErrors" />
	</div>

	<f:if condition="{galleries}">
		<f:then>
			<f:form method="post" enctype="multipart/form-data" action="create" name="newImage" object="{newImage}"  id="crop-form-{plugin.uid}">
				<div style="display: none;">
					<f:form.hidden name="coordinates[top]" value="0" class="top" />
					<f:form.hidden name="coordinates[left]" value="0" class="left" />
					<f:form.hidden name="coordinates[width]" value="0" class="width" />
					<f:form.hidden name="coordinates[height]" value="0" class="height" />
					<f:form.hidden name="coordinates[factorX]" value="0" class="factorX" />
					<f:form.hidden name="coordinates[factorY]" value="0" class="factorY" />
					<f:form.hidden property="imageWidth" value="{newImage.imageWidth}" class="imageWidth" />
					<f:form.hidden property="imageHeight" value="{newImage.imageHeight}" class="imageHeight" />
					<f:form.hidden property="fileName" value="{newImage.fileName}" class="fileName" />
				</div>
				<fieldset class="image-new">
					<f:if condition="{enableSelect}">
						<f:then>
							<label for="gallery"><f:translate key="tx_spgallery_domain_model_image.gallery" /></label><br />
							<f:form.select property="gallery" options="{galleries}" value="{newImage.gallery}" class="image-gallery" /><br />
						</f:then>
						<f:else>
							<f:form.hidden property="gallery" value="{galleries.first}" />
						</f:else>
					</f:if>

					<label for="name"><f:translate key="tx_spgallery_domain_model_image.name" /></label><br />
					<f:form.textfield property="name" value="{newImage.name}" class="image-name" /><br />

					<label for="description"><f:translate key="tx_spgallery_domain_model_image.description" /></label><br />
					<f:form.textarea property="description" value="{newImage.description}" cols="30" rows="5" class="image-description" /><br />

					<label for="filename"><f:translate key="tx_spgallery_domain_model_image.file_name" />*</label><br />
					<f:if condition="{newImage.fileName}">
						<div class="crop-image">
							<f:image src="{newImage.fileName}" alt="{newImage.name}" maxWidth="{settings.smallImage.width}" maxHeight="{settings.smallImage.height}" id="crop-{plugin.uid}" />
							<span class="crop-info"><f:translate key="crop_info" /></span>
							<spgallery:cropImage elementId="crop-{plugin.uid}" formId="crop-form-{plugin.uid}">{newImage}</spgallery:cropImage>
						</div>
					</f:if>
					<f:form.upload name="uploadFile" class="image-file" /><br />

					<hr />
					<f:if condition="{newImage.fileName}">
						<f:then>
							<input type="button" value="{f:translate(key: 'reset')}" onclick="window.location.href = '{f:uri.action(action:'new')}';"><span class="button-div"></span><f:form.submit value="{f:translate(key: 'preview')}" class="preview-button" style="display:none;" /><f:form.submit value="{f:translate(key: 'save')}" class="save-button" />
						</f:then>
						<f:else>
							<input type="button" value="{f:translate(key: 'reset')}" onclick="window.location.href = '{f:uri.action(action:'new')}';"><span class="button-div"></span><f:form.submit value="{f:translate(key: 'preview')}" class="preview-button" /><f:form.submit value="{f:translate(key: 'save')}" class="save-button" style="display:none;" />
						</f:else>
					</f:if>
				</fieldset>
			</f:form>
		</f:then>
		<f:else>
			<p><f:translate key="no_galleries_defined_new"/></p>
		</f:else>
	</f:if>
</f:section>