{namespace spgallery=Speedprogs\SpGallery\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  <f:flashMessages />
  <f:if condition="{galleries}">
    <f:then>
      <ul class="gallery-teasers">
        <f:for each="{galleries}" as="gallery">
          <li class="teaser-images">
            <h3>{gallery.name}</h3>
            <f:format.html>{gallery.description}</f:format.html>
            <spgallery:teaserImages gallery="{gallery}" index="uid" element="source">
              <f:render partial="TeaserImage" arguments="{gallery: gallery, index: uid, source: source, singlePage: singlePage}" />
            </spgallery:teaserImages>
          </li>
        </f:for>
      </ul>
    </f:then>
    <f:else>
      <p><f:translate key="no_galleries_found"/></p>
    </f:else>
  </f:if>
</f:section>