{namespace spgallery=Tx_SpGallery_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  <f:flashMessages />
  <f:if condition="{gallery}">
    <f:then>
      <div class="teaser-images">
        <spgallery:teaserImages gallery="{gallery}" index="uid" element="source">
          <f:render partial="TeaserImage" arguments="{gallery: gallery, index: uid, source: source, singlePage: singlePage}" />
        </spgallery:teaserImages>
      </div>
    </f:then>
    <f:else>
      <p><f:translate key="no_gallery_found"/></p>
    </f:else>
  </f:if>
</f:section>