{namespace spgallery=Tx_SpGallery_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  <f:flashMessages />
  <f:if condition="{gallery}">
    <f:then>
      <div class="teaser-images">
        <f:if condition="{singlePage}">
          <f:then>
            <f:link.action controller="Gallery" action="show" arguments="{gallery : gallery}" pageUid="{singlePage}">
              <spgallery:teaserImages>{gallery}</spgallery:teaserImages>
            </f:link.action>
          </f:then>
          <f:else>
            <f:link.action controller="Gallery" action="show" arguments="{gallery : gallery}">
              <spgallery:teaserImages>{gallery}</spgallery:teaserImages>
            </f:link.action>
          </f:else>
        </f:if>
      </div>
    </f:then>
    <f:else>
      <p><f:translate key="no_gallery_found"/></p>
    </f:else>
  </f:if>
</f:section>