div.gallery-image {
	position: relative;
}

div.gallery-image img {
	margin:0 12px 0 6px;
	border: 1px solid #ffffff;
	box-shadow: 0px 2px 5px rgba(128,128,128,0.5);
}

span.gallery-image-hidden {
	position: absolute;
	left: 2px;
	bottom: 0px;
}